body{
padding: 0;
margin: 0;
}
header{
padding: 20px;
display: flex;
align-items: center;
background-color: black;
color: white;
justify-content: space-between;

}
.logo{
    height: 50px;
    margin: 20px;
}
.picture{
    background-image: url(./ferrari.jpeg);
    height: 400px;
    
    background-size: cover;
    background-position: center;
    display: flex;
align-items:flex-end;
color:white;
font size: 24px;
}
.cards{
display: flex;
flex-wrap: wrap;
justify-content:space-around;
padding: 30px;

}
.card{
width: 300X;
border: 1px solid black;

border-radius: 5px;
padding: 20px ;
margin-bottom: 20px;

}
.footer{
    color: white;
    background-color: black;
    padding: 20px;
justify-content: space-between;
text-align: center;
display: flex;
}